@font-face {
    font-family: buttermilk;
    src: url(./Buttermilk.woff);
}
*{
    padding: 0;
    margin: 0;
}
.bg{
    background-image: url("https://t3.ftcdn.net/jpg/05/71/06/76/360_F_571067620_JS5T5TkDtu3gf8Wqm78KoJRF1vobPvo6.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    mix-blend-mode: difference;
    font-weight: bolder;
    font-size: 200px;
    font-family: buttermilk;
    color:grey;
}